:root {
    --main_color: rgb(0, 203, 195);
    --main_color_light: #95DBD5;
    /* #89d3cd */
    --main_color_dark: rgb(59, 163, 182);
    --main_font: "IBM Plex Sans Thai", sans-serif
}

html {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.page_name {
    color: White;
    margin: 0px;
    text-align: center;
    padding: 3%;
    background-color: var(--main_color);
}

.menu_button {
    color: White;
}

.flexbox {
    display: flex;
    /* box-sizing: border-box; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 15.8%;
    text-align: left;
    padding: 3px;
    margin-right: 5px;
}

.search_item {
    box-sizing: border-box;
    margin-top: 10px;
}

.search_button {
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search_input {
    background-color: rgb(244, 244, 244);
    font-size: 15px;
    font-family: --main_font;
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 100px;
    box-sizing: border-box;
    outline: none;

}

input {
    font-family: var(--main_font);
}

.WriteARead_image {
    background-color: var(--main_color);
    Width: 200px;
    margin-top: 10px;
}

.top_banner {
    background-color: var(--main_color);
    padding: 10px;
    text-align: center;
}

.writing_type {
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 0px;
    margin-top: 10px;
    text-decoration: none;
}

.writing_type:hover {
    color: rgb(0, 0, 0);
}


#searchForm {
    /* display: inline-block; */
    text-align: center;
    /* margin-top: 30px;
    margin-bottom: -20px; */
}

.flexbox_menu {
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 0px;
    padding-top: 20px
}

.menu_banner_item {
    background-color: var(--main_color);
    color: White;
    text-align: center;
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.ring_icon {
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: none
}

.pen_icon {
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: none
}

.user_icon {
    box-sizing: border-box;
    margin-top: 7px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: none
}

.search_button:hover {
    transform: scale(1.2);
    /* src: url('../Templates/image/search_button.png'); */
}

.ring_icon:hover {
    transform: scale(1.2);
    content: url('../Templates/image/ring_button.png');
}

.pen_icon:hover {
    transform: scale(1.2);
    content: url('../Templates/image/writing_button.png');
}

.user_icon:hover {
    transform: scale(1.2);
    content: url('../Templates/image/user_button.png');
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


.top_up {
    width: 9.5%;
    margin-top: 10px;
    margin-right: 10%;
    min-width: 100px;
}

.top_up:hover {
    transform: scale(1.05);
}

.tag_title {
    font-size: 30px;
    font-weight: 500;
    margin-left: 10%;
}

.subtag_title {
    font-size: 22px;
    font-weight: 500;
    margin-left: 10%;
}

.book_title {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.book_title:hover {
    font-weight: 500;
    color: var(--main_color)
}

.temporary_text {
    color: white;
}

/*gallery slide*/

.gallery-wrapper {
    box-sizing: border-box;
    height: 300px;
    /* overflow: hidden; */
}

.gallery-scroll {
    box-sizing: border-box;
    height: 330px;
    overflow-x: auto;
    /* overflow-y: hidden; */
}

.gallery {
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height: 300px;
    padding: 0px 0px;
}

.gallery_item {
    box-sizing: border-box;
    height: 100%;
    padding: 0px 10px;

}

.gallery_item img {
    display: block;
    height: 100%;
    border-radius: 20px;
}

.banner {
    background-color: var(--main_color);
    Width: 40%;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.temp_cover_preview {
    background-color: black;
    width: 90%;
    cursor: pointer;
    border-radius: 15px;
}