<html>
    <head>
        <title>Payment</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header class="top_header"> 
            <a class="menu_item brand" href="index.html">WriteARead</a>
            <a class="menu_item" href="index.html">Home</a>
        </header>

        <!-- <a class="button" href="homepage.html">Home</a> -->


        <!-- <div class="buy_coin_title">
            <h1 class="payment_title">เติมเหรียญ</h1>
        </div> -->

        <h1 class="payment_title">เติมเหรียญ</h1>
        <h1 class="payment_title">เลือกช่องทางชำระเงิน</h1>
        
        <a href="#"> <img class="payment_img" src="image/onlinebanking.png"></a>
        <a href="#"> <img class="payment_img" src="image/debitcard.png"></a>
        <a href="#"> <img class="payment_img" src="image/truemoneywallet.png"></a>
        <footer class="bottom_footer">
            <a class="menu_item" href="https://www.readawrite.com/">ReadAWrite</a>
        </footer>

    </body>


</html>