html, body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    /*font weight thin 100 extralight 200 light 300 
      regular 400 medium 500 semibold 600 bold 700*/
}

.brand_img {
    width: 200px;
}

.first_payment_title {
    color: rgb(30, 26, 29);
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}

.payment_title {
    color: rgb(30, 26, 29);
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
}

.payment_context {
    color: rgb(30, 26, 29);
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
}


.top_header {
    background-color: rgb(0, 203, 195);
}

.menu_item {
    font-size: 18px;
    color: aliceblue;
    padding: 15px;
    display: inline-block;
    text-decoration:none ;
}

.brand {
    font-size: 25px;
    font-weight: 600;
}

.button {
    color:antiquewhite;
    background-color: brown;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    /* display: block; */
    display: inline-block;
    width: 50px;
}

.payment_box {
    /* width: 200px; */
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0.7px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.381);
}

.payment_img {
    width: 200px;
}

.payment_button {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.381);
    cursor: pointer;
}

.payment_button.selected {
    border: 2px solid rgb(0, 203, 195) !important;
  }

.coin_box {
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    display: inline-block;
    width: 350px;
    height: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.381);
    position: relative; 
    cursor: pointer;
}

.coin_box.selected {
    border-width: 2px !important; /* Make the border 3px for the selected box */
    border-color: rgb(0, 203, 195) !important; /* Change the border color for the selected box */
  }

.coin_img {
    width: 85px;
    position: absolute;
    left: 15px; 
    top: 1px; 
    z-index: 12;
}

.coin_amount {
    color: rgb(234, 187, 0);
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 110px; 
    top: 3px; 
    z-index: 12;
}

.unit {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    left: 150px; 
    top: 3px; 
    z-index: 12;
}


.coin_cost {
    /* font-weight: 400; */
    font-size: 14px;
    position: absolute;
    left: 280px; 
    top: 10px; 
    z-index: 12;
}

.costomize_text {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 15px; 
    top: 3px; 
    z-index: 12;
}

.costomize_input {
    font-weight: 400;
    display: block;
    position: absolute;
    left: 110px; 
    top: 16px; 
    z-index: 12;
    border: 1px solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 10px 20px; 
    width: 200px; 
}

.costomize_unit {
    position:absolute;
    display: block; 
    left: 250px; 
    top: 21.5px; 
    z-index: 12;
}

.promotion_box {
    border-top: 1px solid rgba(128, 128, 128, 0.381);
    border-bottom: 1px solid rgba(128, 128, 128, 0.381);
    margin-bottom: 40px;
}

.promotion_code {
    font-weight: 400;
    display: block;
    border: 1px solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 10px 20px; 
    width: 200px; 
    margin-left: 20px;
    margin-bottom: 35px;
}

.final_button {
    padding: 40px;
    margin: auto;
    text-align: center;
}

.final_box {
    display:flexbox;
}

.cancel_button {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    color:gray;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.692);
    border-radius: 50px;
    width: 100px;
}

.submit_button {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: rgb(0, 203, 195);
    color:#fff;
    padding: 10px;
    border: 1px solid rgb(0, 203, 195);
    border-radius: 50px;
    width: 300px;
    
}

.bottom_footer {
    background-color: rgb(134, 140, 141);
}

.bottom_context {
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
/* Login styles */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 50px solid white;
    border-radius: 5px;
    background-color: white;
}

.login-container .box {
    background-color: white;
    padding: 0px 0px;
}

.login-container .image {
    width: 100%;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

/* Add writing styles */
.writing-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.writing-container .form-group {
    margin-bottom: 20px;
}

.writing-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.writing-container .form-group input[type="text"],
.writing-container .form-group input[type="file"],
.writing-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.writing-container .categories,
.writing-container .rating,
.writing-container .tags {
    margin-top: 30px;
}

.writing-container .rating-options label {
    display: block;
    margin-bottom: 10px;
}

.writing-container .tags-input {
    display: flex;
    align-items: center;
}

.writing-container .tags-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.writing-container .tags-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.writing-container .tags-input button:hover {
    background-color: #0056b3;
}

.upload-cover-group img {
    max-width: 500px;
    max-height: 500px;
    cursor: pointer;
}


/* .login_title {
    color: black;
    background-color: white;
    font-size: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.box2 {
    background-color: white;
    padding: 0px;
    margin: 0px;
} 

.image {
    width: 50%;
}

.facebook {
    color: white;
    background-color: rgba(0, 4, 243, 0.493);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: inline-block;
    width: 200px;
    right: 50%;
    left: 0%;
}

.line {
    color: white;
    background-color: rgb(0, 255, 13);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
}

.apple {
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
}

.google {
    color: black;
    background-color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
} */