html, body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.buy_coin_title {
    background-color: rgb(98, 153, 177);
    padding: 20px;
    margin-bottom: 20px;
}

.payment_title {
    color: rgb(30, 26, 29);
    margin-left: 20px;
    font-size: 25px;
}

.top_header {
    background-color: rgb(59, 163, 182);
}

.menu_item {
    font-size: 18px;
    color: aliceblue;
    padding: 15px;
    display: inline-block;
    text-decoration:none ;
}

.brand {
    font-size: 25px;
    font-weight: 600;
}

.button {
    color:antiquewhite;
    background-color: brown;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    /* display: block; */
    display: inline-block;
    width: 50px;
}

.payment_img {
    /* color:rgb(73, 72, 72); */
    background-color: rgba(75, 73, 73, 0.493);
    padding: 0.7px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
}

.bottom_footer {
    background-color: rgb(75, 81, 82);
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 50px solid white;
    border-radius: 5px;
    background-color: white;
}

.box {
    background-color: white;
    padding: 0px 0px;
}

.image {
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.writing-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.categories,
.rating,
.tags {
    margin-top: 30px;
}

.rating-options label {
    display: block;
    margin-bottom: 10px;
}

.tags-input {
    display: flex;
    align-items: center;
}

.tags-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.tags-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tags-input button:hover {
    background-color: #0056b3;
}

/* .login_title {
    color: black;
    background-color: white;
    font-size: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.box2 {
    background-color: white;
    padding: 0px;
    margin: 0px;
} 

.image {
    width: 50%;
}

.facebook {
    color: white;
    background-color: rgba(0, 4, 243, 0.493);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: inline-block;
    width: 200px;
    right: 50%;
    left: 0%;
}

.line {
    color: white;
    background-color: rgb(0, 255, 13);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
}

.apple {
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
}

.google {
    color: black;
    background-color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
} */