<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp2 Page</title>
</head>
<body>
    <div id="book-info"></div>

    <script src="book_info.js"></script>
    <script>
        // Retrieve book information from sessionStorage
        const bookInfo = JSON.parse(sessionStorage.getItem('bookInfo'));
        if (bookInfo) {
            // Display book information in the HTML page
            const bookInfoDiv = document.getElementById('book-info');
            bookInfoDiv.innerHTML = `
                <p>Name: ${bookInfo.name}</p>
                <p>Author: ${bookInfo.author}</p>
                <p>Genre: ${bookInfo.genre}</p>
                <p>Summary: ${bookInfo.summary}</p>
            `;
        }
    </script>
</body>
</html>